In [1]:
# This is just an experiment where I had run into a problem with pandas. I discovered that iloc and loc
# returned copies of the series instead of returning the original series, so I was not able to
# modify the series in place. Once I provided column names instead, the series were successfully
# modified in place.

import pandas as pd

# Create a DataFrame with three separate Series
sr = {
    'Series1': ['2012-10-21 09:30', '2019-07-18 12:30', '2008-02-02 10:30',
                 '2010-04-22 09:25', '2019-11-08 02:22'],
    'Series2': ['2020-01-01 00:00', '2021-01-01 00:00', '2022-01-01 00:00',
                 '2023-01-01 00:00', '2024-01-01 00:00'],
    'Series3': ['314134', '1334', '5424',
                 '314531', '314134']
}

sr = pd.DataFrame(sr)

display(sr)

# There should be no change here
display(sr.iloc[:, 1])
sr.iloc[:, 1] = pd.to_datetime(sr.iloc[:, 1])
display(sr.iloc[:, 1])

# There should be no change here either
display(sr.iloc[:, 2])
sr.iloc[:, 2] = sr.iloc[:, 2].astype(int)
display(sr.iloc[:, 2])

            Series1           Series2 Series3
0  2012-10-21 09:30  2020-01-01 00:00  314134
1  2019-07-18 12:30  2021-01-01 00:00    1334
2  2008-02-02 10:30  2022-01-01 00:00    5424
3  2010-04-22 09:25  2023-01-01 00:00  314531
4  2019-11-08 02:22  2024-01-01 00:00  314134

0    2020-01-01 00:00
1    2021-01-01 00:00
2    2022-01-01 00:00
3    2023-01-01 00:00
4    2024-01-01 00:00
Name: Series2, dtype: object

0    2020-01-01 00:00:00
1    2021-01-01 00:00:00
2    2022-01-01 00:00:00
3    2023-01-01 00:00:00
4    2024-01-01 00:00:00
Name: Series2, dtype: object

0    314134
1      1334
2      5424
3    314531
4    314134
Name: Series3, dtype: object

0    314134
1      1334
2      5424
3    314531
4    314134
Name: Series3, dtype: object

In [2]:
# Here instead of using iloc or loc, the column names are provided 
# so that we can modify the series in place, since the original
# series are returned and not copies of them.

# Convert Series2 to datetime and assign back to the DataFrame
display(sr['Series2'])
sr['Series2'] = pd.to_datetime(sr['Series2'])
display(sr['Series2'])

# Convert Series3 to int and assign back to the DataFrame
display(sr['Series3'])
sr['Series3'] = sr['Series3'].astype(int)
display(sr['Series3'])

0    2020-01-01 00:00:00
1    2021-01-01 00:00:00
2    2022-01-01 00:00:00
3    2023-01-01 00:00:00
4    2024-01-01 00:00:00
Name: Series2, dtype: object

0   2020-01-01
1   2021-01-01
2   2022-01-01
3   2023-01-01
4   2024-01-01
Name: Series2, dtype: datetime64[ns]

0    314134
1      1334
2      5424
3    314531
4    314134
Name: Series3, dtype: object

0    314134
1      1334
2      5424
3    314531
4    314134
Name: Series3, dtype: int64